.filter__button {
  /*composes: btn-text from '/src/UI/Button/button.module.css';*/
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
}

.filter__button:hover {
  border: 1px solid #D9B6FF;
  color: #D9B6FF;
}

.filter__button:active {
  border: 1px solid #AD61FF;
  color: #AD61FF;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.filter__wrapper {
  /* width: 248px; */
  /* height: 305px; */
  padding: 34px;
  background-color: #313131;
  border-radius: 12px;
  position: absolute;
  top: 49px;
  left: 0px;
}

.filter__list {
  color: white;
  display: flex;
  gap: 28px;
  height: max-content;
  max-height: 237px;
  overflow-y: auto;
  flex-direction: column;
  width: max-content;
  max-width: 248px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

.active {
  color: #B672FF;
  border-color: #B672FF;
}

/* .filter__count {
  width: 26px;
  height: 25.5px;
  color: #FFFFFF;
  background-color: #AD61FF;
  font-size: 13px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: -9px;
  right: -8px;
} */
