.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  /* position: relative; */
  background-color: #181818;
  color: #fff;
  display: flex;
  flex-direction: column;
  
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  /* justify-content: space-between; */
}

.nav__container {
  display: flex;
  justify-content: center;
}

.logout__container {
  display: flex;
  justify-content: flex-end;
}

.centerblock__container {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(109, 252, 252); */
}

.not_found__wrapper {
  width: 100%;
  /* min-height: 100%; */
  height: 100%;
  /* width: 431px; */
  min-height: 366px;
  overflow: hidden;
  /* background-color: pink; */
  display: flex;
  /* flex-wrap: wrap; */
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}

.not_found__container {
  /* background-color: green; */
  /* width: 100%; */
  min-width: 431px;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
}

.not_found__error {
  color: #ffffff;
  /* font-family: StratosSkyeng; */
  font-weight: 400;
  font-size: 160px;
  line-height: 168px;
  letter-spacing: 0px;
  margin-bottom: 2px;
}

.not_found__text_container {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.not_found__text {
  color: #ffffff;
  /* font-family: StratosSkyeng; */
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  margin-bottom: 8px;
}

.not_found__image {
  width: 52px;
  height: 52px;
}

.not_found__message01 {
  color: #ffffff;
  /* font-family: StratosSkyeng; */
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3%;
  text-align: center;
  color: #4E4E4E;
}

.not_found__message02 {
  color: #ffffff;
  /* font-family: StratosSkyeng; */
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3%;
  text-align: center;
  color: #4E4E4E;
  margin-bottom: 36px;
}

.not_found__button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not_found__button {
  width: 278px;
  height: 52px;
  background-color: #580EA2;
  border-radius: 6px;
  /* margin-top: 30px;
  margin-bottom: 20px; */
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;
  color: #ffffff;
  /* font-family: StratosSkyeng; */
  font-weight: 400;
  /* font-style: Regular; */
  font-size: 18px;
  /* leading-trim: NONE; */
  line-height: 24px;
  letter-spacing: -0.3%;
  /* font-variant-numeric-figure: lining-nums; */
  /* font-variant-numeric-spacing: proportional-nums; */

}




.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 0.5);
}

.bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bar__playerProgress {
  width: 100%;
  height: 5px;
  background: #2e2e2e;
}

.bar__playerBlock {
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bar__player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.bar__volumeBlock {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 92px 0 0;
}

.player__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.player__btnPrev,
.player__btnPlay,
.player__btnNext,
.player__btnRepeat,
.player__btnShuffle,
.player__btnLike {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.player__btnPrev {
  margin-right: 23px;
}

.player__btnPrevSvg {
  width: 15px;
  height: 14px;
}

.player__btnPlay {
  margin-right: 23px;
}

.player__btnPlaySvg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.player__btnPrev:hover .player__btnPrevSvg,
.player__btnPlay:hover .player__btnPlaySvg,
.player__btnNext:hover .player__btnNextSvg {
  filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(177deg) brightness(93%) contrast(86%);
}

.player__btnNext {
  margin-right: 28px;
  fill: #a53939;
}

.player__btnNextSvg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.player__btnRepeat {
  margin-right: 24px;
}

.player__btnRepeatSvg {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.player__btnShuffle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.player__btnLike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.player__btnShuffleSvg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.player__trackPlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.trackPlay__contain {
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'image author' 'image album';
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trackPlay__image {
  width: 51px;
  height: 51px;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 12px;
  grid-row: 1;
  -ms-grid-row-span: 2;
  grid-column: 1;
  grid-area: image;
}

.trackPlay__svg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.trackPlay__author {
  grid-row: 1;
  grid-column: 2;
  grid-area: author;
  min-width: 49px;
}

.trackPlay__authorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}

.trackPlay__album {
  grid-row: 2;
  grid-column: 2;
  grid-area: album;
  min-width: 49px;
}

.trackPlay__albumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
}

/* .trackPlay__likeDis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 26%;
} */

.trackPlay__like,
.trackPlay__dislike {
  padding: 5px;
}

.trackPlay__likeSvg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

/* .trackPlay__dislike {
  margin-left: 28.5px;
} */

/* .trackPlay__dislikeSvg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
} */

.volume__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.volume__image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__svg {
  width: 13px;
  height: 18px;
  fill: transparent;
  cursor: pointer;
}

.volume__progress {
  width: 109px;
  display: flex;
  align-items: center;
}

.volume__progressLine {
  width: 100%;
  height: 2px;
  appearance: none;
  background: #797979;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.volume__progressLine::-webkit-slider-runnable-track {
  height: 2px;
  background: #797979;
  border-radius: 5px;
}

.volume__progressLine::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1a1a1a;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  margin-top: -7px;
}

.btn {
  cursor: pointer;
}

.btnIcon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

.btnIcon:active svg {
  fill: transparent;
  /* stroke: #ffffff; */
  stroke: #ad61ff;
  cursor: pointer;
}

/* .btnIcon:active .trackPlay__likeSvg,
.btnIcon:active .trackPlay__dislikeSvg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
} */

.btn-text {
  &:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    /* cursor: pointer; */
  }

  &:active {
    border-color: #ad61ff;
    color: #ad61ff;
    /* cursor: pointer; */
  }
}

.audio {
  display: none;
}

.btnIcon__active svg {
  fill: #ad61ff;
  stroke: #ad61ff;
  cursor: pointer;

  &:hover {
    fill: #cd9fff;
    stroke: #cd9fff;
    /* cursor: pointer; */
  }
}

.trackPlay__timeBlock {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 10px;
}

.trackPlay__time {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
}

.trackPlay__like {
  display: flex;
}

.main__sidebar {
  max-width: 418px;
  padding: 20px 90px 20px 78px;
}

.sidebar__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 12px 0 15px 0;
}

/* .sidebar__personalName {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 16px;
} */

.sidebar__icon {
  width: 40px;
  height: 40px;
  background-color: #313131;
  border-radius: 50%;
  cursor: pointer;
}