.content__playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overflow-y: auto;
  height: 100vh;
  max-height: 100vh;
}

.content__playlist::-webkit-scrollbar {
  display: none;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    color: #fa4f4f;
}