.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: var(--bg-primary); 
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: var(--bg-primary); 
  color: var(--text-primary);
  overflow-x: hidden;
}

.container * {
  max-width: 100%;
  box-sizing: border-box;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow-y: auto;
  height: 100vh;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #d9b6ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ad61ff;
  border-radius: 10px;
  cursor: pointer;
}
